/* font-family: 'Bungee Spice', cursive; */
/* font-family: 'Rock Salt', cursive; */
/* font-family: 'RocknRoll One', sans-serif; */
.header {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-title {
  font-size: 3rem;
  font-family: "Bungee Spice", cursive;
}
